* {
    margin: 0px;
    padding: 0px;
}

body {
    height : 50vw;
    width: 100vw;
}

.header {
    position: relative;
    width: 95%;
    font-size: 30px;
    top: 30vh;
    display:flex;
    margin: 400px auto;
    border: 2px solid red;
}
